header, nav, section, aside, footer {
  border-style: groove;
}
div {
  background-color: rgb(185, 185, 163);
}
header {
  background-color: rgb(8, 0, 0);
  font-family: serif;
  color: rgb(160, 160, 168);
  text-align: center;
  font-size: 40px;
  }
section {
  width: 950px;
  text-align: left;
  font-size: larger;
}
nav {
  width: 950px;
  background-color: rgb(160, 160, 168);
}